In [7]:
!pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.8-cp312-cp312-win_amd64.whl.metadata (1.1 kB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\minseok\anaconda3\lib\site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\minseok\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\minseok\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\minseok\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\minseok\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\minseok\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Downloading pyreadstat-1.2.8-cp312-cp312-win_amd64.whl (2.4 MB)
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ------------------------------ --------- 1.8/2.4 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 2.4/2.4 MB 9.8 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.8

In [4]:
# 라이브러리 임포트
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import pyreadstat

df, meta = pyreadstat.read_sas7bdat(r"C:\Users\MINSEOK\Downloads\HN23_ALL(SAS)/hn23_all.sas7bdat", encoding='euc-kr')

In [5]:
# 소수점 3자리까지 표시
%precision 3

'%.3f'

In [6]:
#df["BP16_1"] #주중(또는 일하는 날) 하루 평균 수면 시간

In [7]:
#df["BP16_2"] #주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간

* □□시간
* 88. 비해당(소아)
* 99. 모름, 무응답

In [13]:
#df["BP17_2"] #폐쇄성수면무호흡증 위험요인: 코골이

In [15]:
#df["BP17_3"] #폐쇄성수면무호흡증 위험요인: 피곤함

* 1. 예
* 2. 아니오
* 8. 비해당(40세미만)
* 9. 모름, 무응답

In [18]:
# 데이터 크기
df.shape

(6929, 629)

In [20]:
# 변수 목록
#df.columns

In [22]:
# 변수별 결측치 확인
#df.isnull().sum()

In [24]:
# 변수별 데이터 타입
#df.dtypes

In [26]:
df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC,LF_SECUR_Y,LF_BUYER,LF_SAFE
0,2024.12.10.,YA84208301,YA842083,2023.0,1.0,1.0,2.0,YA84,1.0,75.0,...,2704.555129,22.304061,0.689636,0.911565,4.519287,108.528994,29.390490,1.0,1.0,1.0
1,2024.12.10.,YA84208302,YA842083,2023.0,1.0,1.0,2.0,YA84,2.0,70.0,...,1190.505880,44.455061,1.010501,0.839130,6.333379,52.454348,15.650710,1.0,1.0,1.0
2,2024.12.10.,YA84212402,YA842124,2023.0,1.0,1.0,2.0,YA84,2.0,42.0,...,6752.011600,364.273465,1.839332,3.257774,24.363661,231.528144,35.242941,1.0,1.0,2.0
3,2024.12.10.,YA84212404,YA842124,2023.0,1.0,1.0,2.0,YA84,2.0,9.0,...,2213.362823,893.834459,1.873845,2.962366,22.194257,374.230895,69.595766,1.0,1.0,2.0
4,2024.12.10.,YA84242702,YA842427,2023.0,1.0,1.0,2.0,YA84,1.0,43.0,...,2136.906180,309.283062,1.086500,2.021552,10.360013,366.058694,65.171145,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6924,2024.12.10.,YR62368101,YR623681,2023.0,8.0,2.0,1.0,YR62,1.0,80.0,...,2158.199974,9.514286,0.652938,1.151994,12.808814,337.352062,26.125158,1.0,1.0,1.0
6925,2024.12.10.,YR62368102,YR623681,2023.0,8.0,2.0,1.0,YR62,2.0,78.0,...,2217.551546,42.535857,1.310568,1.151318,14.870108,184.289904,17.537722,1.0,1.0,1.0
6926,2024.12.10.,YR62370201,YR623702,2023.0,8.0,2.0,1.0,YR62,2.0,61.0,...,949.749369,219.443462,0.742543,1.677973,10.877976,417.792346,20.586685,1.0,1.0,1.0
6927,2024.12.10.,YR62394401,YR623944,2023.0,8.0,2.0,1.0,YR62,1.0,57.0,...,4495.650299,193.857866,0.937317,1.827701,7.649848,433.988024,53.146545,1.0,2.0,1.0
6928,2024.12.10.,YR62432901,YR624329,2023.0,8.0,2.0,1.0,YR62,1.0,49.0,...,3437.038826,131.239187,1.016950,2.428429,19.017275,888.811141,33.616615,1.0,1.0,1.0

In [28]:
selected_cols = ['ID', 'sex', 'age', 'BD1_11', 'BD2_1', 'BS3_1', 'pa_aerobic', 'mh_stress', 'BP17_dg', 'BP16_1', 'BP16_2']
df_selected = df[selected_cols]

In [30]:
df_selected.columns = df_selected.columns.str.strip()  # 공백 제거

In [32]:
df_selected = df_selected.rename(columns={
    'BD1_11': '음주 빈도',
    'BD2_1': '음주량',
    'BS3_1': '현재 흡연 여부',
    'BP16_1': '주중 하루 평균 수면 시간',
    'BP16_2': '주말 하루평균 수면시간',
    'BP17_dg': '폐쇄성수면무호흡증 의사진단 여부',
    'mh_stress': '스트레스 인지율',
    'pa_aerobic': '유산소 신체활동 실천율'
})

In [34]:
#모름 제거
df_selected = df_selected[~df_selected['음주 빈도'].isin([9]) & ~df_selected['음주량'].isin([9])].copy()
df_selected = df_selected[~df_selected['현재 흡연 여부'].isin([9])].copy()

In [36]:
conditions = [(df_selected['음주 빈도'] == 8) | (df_selected['음주량'] == 8), df_selected['음주 빈도'] <= 3, (df_selected['음주 빈도'] >= 4) & (df_selected['음주량'] <= 2), (df_selected['음주 빈도'] >= 5) & (df_selected['음주량'] >= 3)]
choices = ['금주', '적음', '보통', '과음']
df_selected['음주'] = np.select(conditions, choices, default = 'NaN')

In [38]:
conditions = [(df_selected['현재 흡연 여부'] == 3) | (df_selected['현재 흡연 여부']==8) , df_selected['현재 흡연 여부'] == 2, df_selected['현재 흡연 여부']==1]
choices = ['금연','가끔','매일']
df_selected['흡연'] = np.select(conditions, choices, default = 'NaN')

In [40]:
df_selected = df_selected[df_selected.age >= 19].copy() #미성년자 제거: 음주, 흡연과의 관계를 보고있기때문에 제거해도 영향 x

In [42]:
df_selected['유산소 신체활동'] = df_selected['유산소 신체활동 실천율'].map({0: '하지않음', 1: '함'})

In [44]:
df_selected['스트레스 인지'] = df_selected['스트레스 인지율'].map({0: '적게 느낌', 1: '많이 느낌'})

In [46]:
df_selected

,ID,sex,age,음주 빈도,음주량,현재 흡연 여부,유산소 신체활동 실천율,스트레스 인지율,폐쇄성수면무호흡증 의사진단 여부,주중 하루 평균 수면 시간,주말 하루평균 수면시간,음주,흡연,유산소 신체활동,스트레스 인지
0,YA84208301,1.0,75.0,8.0,8.0,8.0,0.0,0.0,0.0,7.0,7.0,금주,금연,하지않음,적게 느낌
1,YA84208302,2.0,70.0,8.0,8.0,8.0,0.0,0.0,0.0,6.0,6.0,금주,금연,하지않음,적게 느낌
2,YA84212402,2.0,42.0,5.0,1.0,8.0,0.0,0.0,0.0,7.0,9.0,보통,금연,하지않음,적게 느낌
4,YA84242702,1.0,43.0,4.0,2.0,3.0,0.0,0.0,0.0,7.0,8.0,보통,금연,하지않음,적게 느낌
7,YA84370201,1.0,53.0,1.0,8.0,8.0,NaN,0.0,9.0,6.0,6.0,금주,금연,NaN,적게 느낌
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6924,YR62368101,1.0,80.0,3.0,1.0,3.0,0.0,0.0,0.0,4.0,5.0,적음,금연,하지않음,적게 느낌
6925,YR62368102,2.0,78.0,2.0,1.0,8.0,1.0,0.0,0.0,4.0,5.0,적음,금연,함,적게 느낌
6926,YR62370201,2.0,61.0,3.0,1.0,8.0,1.0,0.0,0.0,8.0,8.0,적음,금연,함,적게 느낌
6927,YR62394401,1.0,57.0,3.0,4.0,8.0,1.0,0.0,0.0,7.0,10.0,적음,금연,함,적게 느낌
6928,YR62432901,1.0,49.0,6.0,5.0,1.0,0.0,0.0,0.0,8.0,8.0,과음,매일,하지않음,적게 느낌

In [48]:
#결측치 처리 NaN or 무응답 or 비해당(소아)
#질문 구체화

In [50]:
df_selected.isnull().sum()

ID                     0
sex                    0
age                    0
음주 빈도                  1
음주량                    1
현재 흡연 여부               1
유산소 신체활동 실천율         411
스트레스 인지율               2
폐쇄성수면무호흡증 의사진단 여부      1
주중 하루 평균 수면 시간         1
주말 하루평균 수면시간           1
음주                     0
흡연                     0
유산소 신체활동             411
스트레스 인지                2
dtype: int64

In [52]:
df_selected.describe()

,sex,age,음주 빈도,음주량,현재 흡연 여부,유산소 신체활동 실천율,스트레스 인지율,폐쇄성수면무호흡증 의사진단 여부,주중 하루 평균 수면 시간,주말 하루평균 수면시간
count,5764.000000,5764.000000,5763.000000,5763.000000,5763.000000,5353.000000,5762.000000,5763.000000,5763.000000,5763.000000
mean,1.563498,53.640354,3.681242,4.156689,5.760368,0.457500,0.241930,2.289086,6.787090,7.487767
std,0.495995,16.555249,2.160171,2.807719,2.866280,0.498237,0.428289,3.679695,4.232561,4.307914
min,1.000000,19.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.000000,41.000000,2.000000,1.000000,3.000000,0.000000,0.000000,0.000000,6.000000,6.000000
50%,2.000000,55.000000,4.000000,4.000000,8.000000,0.000000,0.000000,0.000000,7.000000,7.000000
75%,2.000000,67.000000,5.000000,8.000000,8.000000,1.000000,0.000000,8.000000,7.000000,8.000000
max,2.000000,80.000000,8.000000,8.000000,8.000000,1.000000,1.000000,9.000000,99.000000,99.000000

In [56]:
df_selected.to_csv("df_selected.csv", index=False, encoding="utf-8-sig")